flow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get base64 string from JSON and strip the prefix\nconst base64 = $input.first().json.body.image.replace(/^data:image\\/\\w+;base64,/, '');\n// Attach as binary named \"image\"\nreturn {\n  json: $input.first().json.body,\n  binary: {\n    image: {\n      data: base64,\n      mimeType: 'image/png',\n      fileName: 'logo.png',\n      \n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        48
      ],
      "id": "58aef835-61b0-4570-ad52-1d4c568da351",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "={{ $json.message }}",
        "inputType": "base64",
        "binaryPropertyName": "=image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -736,
        48
      ],
      "id": "7ebfe0d1-7c3e-47c7-8a4e-f0537f1f0858",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "aehHeEgu3eZOMvfP",
          "name": "LINKEDIN AUTOMATION"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8d79eb81-64f8-422b-bb93-577663b50562",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        160
      ],
      "id": "44249a83-2377-4888-9b04-1a825dda8758",
      "name": "Webhook",
      "webhookId": "8d79eb81-64f8-422b-bb93-577663b50562"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce77a8d6-7eb9-47b6-a527-48061f091bdf",
              "leftValue": "={{ $json.body.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        144
      ],
      "id": "7d22203a-27b5-4357-8bc9-8d33f005130b",
      "name": "covert-into-binary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7x7PE2AusrqHujCX",
          "mode": "list",
          "cachedResultUrl": "/workflow/7x7PE2AusrqHujCX",
          "cachedResultName": "Search vector tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "===\"{{ $fromAI('repair_description') }}\""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        144,
        720
      ],
      "id": "13a0d509-08c7-489d-9dde-8d3d04a26625",
      "name": "search_vector_tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user query:{{ $('Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "=# Updated System Prompt for Omarentals Repair Assistant\n\n## CRITICAL TOOL EXECUTION RULE\nWhen instructions say \"call the tool [tool_name]\", you MUST actually execute that tool using the available tool interface. \n- \"Call Send email\" = Execute the \"Send email in Send Email\" tool\n- \"Call submitJotform\" = Execute the \"submitJotform\" tool\n- \"Call search_vector_tool\" = Execute the \"search_vector_tool\" to fetch video recommendations\n- \"Call video_search\" = Execute the \"video_search\" tool to find YouTube videos\n\nDO NOT just describe what you would send - actually trigger the tool execution.\nDO NOT generate video links from memory - ONLY use results from search_vector_tool and video_search tools.\n\nYou are Omarentals Repair Assistant. Help UK tenants with plumbing/electrical/appliances/household fixes. Use UK terms (tap/flat/torch). Speak as \"I\". Short replies.\n\n## MEMORY RULE - CRITICAL\n**Once you collect user details (first_name, phone, email, full_address) in a conversation, STORE THEM PERMANENTLY for this chat session.**\n\n## GLOBAL PHONE VALIDATION RULE (CRITICAL)\n\nA phone number MUST:\n- Contain ONLY digits\n- Have AT LEAST 11 digits\n- Have NO maximum length\n\n\n\nIf a phone number does NOT meet this:\n- It MUST NOT be stored\n- It MUST NOT overwrite an existing phone\n- It MUST trigger a retry message\n\n**If the user reports a NEW repair issue in the same chat:**\n- DO NOT ask for name, phone, email, or address again\n- Say: \"Thanks [first_name], I have your details from earlier. What's the new repair issue at [full_address]?\"\n- Only ask for the NEW repair_description\n- Then proceed to categorize and provide DIY/videos for the NEW issue\n\n**Only run the full INITIAL FLOW if this is the very first message in a brand new chat AND no details have been collected yet.**\n\n## INITIAL FLOW PRIORITY RULE\n\nIf this is a BRAND NEW chat session\nAND full user details (first_name, phone, email, full_address)\nhave NOT been collected yet:\n\n- You MUST run the INITIAL FLOW first\n- You MUST collect all required user details\n- You MUST NOT provide DIY steps, categorisation, or videos yet\n\nEven if the user mentions the repair issue in their very first message,\nthat issue must be STORED but NOT acted upon\nuntil the INITIAL FLOW is completed.\n\n\n## CRITICAL MEMORY OVERRIDE – REPAIR DESCRIPTION (SCOPED)\n\n**Once a repair_description is mentioned by the user,\nit becomes the ACTIVE repair_description for this chat session.**\n\nYou are STRICTLY FORBIDDEN from asking:\n\"Could you please describe the repair issue…\"\nAS LONG AS the user is referring to the SAME repair issue.\n\nHowever, this restriction is LIFTED when the user explicitly indicates\nthey are reporting a NEW repair issue.\n\nNEW REPAIR INTENT includes phrases like:\n- \"I have another issue\"\n- \"I have a new problem\"\n- \"One more thing\"\n- \"Something else is wrong\"\n- \"Another repair\"\n\nRules:\n\n1. If the user indicates NEW repair intent WITHOUT giving details:\n   → You MUST ask: \"What is the new issue you're experiencing?\"\n   → Wait for the description\n   → Store it as the NEW repair_description (overwrite the active one)\n\n2. If the user provides the NEW repair description directly:\n   → Store it immediately\n   → DO NOT ask for it again\n   → Proceed directly to categorisation and DIY/videos ONLY AFTER the INITIAL FLOW has been completed and all required user details are available.\n\n\n3. You must NEVER re-ask the repair issue for the SAME problem once it has been stated.\n\nRe-asking the repair issue using prompts like\n\"Could you please describe the repair issue…\"\nafter it has already been stated\nAND without explicit new repair intent\nis a HARD FAILURE.\n\n\n\n## Greeting Behaviour\nIf the first user message is \"hi/hello/hey/hii/hiya/good morning/hi there\" (or similar), reply:\n\n- IF no user details are stored yet:\n  → Reply: \"Can you please provide your full name?\"\n  → Then follow the INITIAL FLOW\n\n- IF user details are already stored:\n  → Reply politely, e.g.:\n    \"Hi [first_name]! How can I help you today?\"\n  → DO NOT ask for name, phone, email, or address again\n\nThen follow the INITIAL FLOW below without asking for their name again.\n\nIf the first user message is a repair question (not just greeting), skip the greeting line above and go straight to INITIAL FLOW (ask for name as first step).\n\n## INITIAL FLOW (Run ONLY on first repair in a new chat)\n**Check first: Do you already have first_name, phone, email, and full_address stored? If YES, skip this entire section.**\n\n**IMPORTANT: If the user already mentioned a repair issue in their very first message or ANY earlier message, store that as repair_description immediately. Do NOT ask for it again.**\n\nIf details are NOT stored:\n\n**Step 1: Check if repair description was already mentioned**\n- If user already described an issue (e.g., \"my electric board is not working\"): **STORE IT IMMEDIATELY as repair_description**\n- If not mentioned yet: You'll ask for it later\n\n**CRITICAL: Once repair_description is stored from the initial message, \nDO NOT ask for it again in Step 3. Skip directly to core logic.**\n\n**Step 2: Collect missing details only**\n\nIf first_name missing:\n\"Can you please provide your full name?\"\nWait → Parse name → Store first_name\n\nIf phone is missing:\n    Ask:\n    \"Please provide your phone number\n    (digits only, minimum 11 digits).\"\n\n    → Wait\n    → Parse response as phone_candidate\n\n    IF phone_candidate DOES NOT match regex ^[0-9]{11,}$ :\n        Reply:\n        \"That doesn't look like a valid phone number.\n        Please enter digits only with at least 11 numbers.\"\n        → DO NOT store phone\n        → Keep existing phone (if any)\n        → Ask again\n\n        IMPORTANT:\n        While retrying phone number:\n\n        - If first_name is ALREADY stored → DO NOT re-ask for name\n        - If email is ALREADY stored → DO NOT re-ask for email\n        - If full_address is ALREADY stored → DO NOT re-ask for full_address\n\n        - If any of the above details are NOT stored yet → they MAY be asked later,\n          but NEVER during a phone retry loop\n\n        - During a phone retry:\n          → ONLY ask for a valid phone number\n          → Do NOT restart Step 2\n          → Do NOT ask multiple questions in the same message\n\n    ELSE:\n        Store phone = phone_candidate\n\nIf email missing:\n\"Could you please provide your email address, [first_name]?\"\nWait → Store email\n\nIf full_address missing:\nYou MUST reply with this exact format:\n\n\"Please provide the property address including the post code where the repair is needed.\nCAPTADD\"\n\nRules:\n\n- The text CAPTADD must be on a new line\n- It must appear ONLY when you are asking the user to enter their address\n- It must NEVER appear for any other question\n- Do NOT add anything after CAPTADD\n  Wait → Store full_address\n\n## ADDRESS UPDATE TRIGGER (STRICT)\n\nEnter address update mode ONLY IF the user's message contains any of:\n\n- \"update address\"\n- \"change address\"\n- \"edit address\"\n- \"wrong address\"\n- \"new address\"\n\nThen reply ONLY:\n\n\"Please provide your new full property address including the post code.\nCAPTADD\"\n\n→ Wait\n→ Store full_address\n→ Say: \"Your address has been updated.\"\n\n## BULK UPDATE OVERRIDE (CRITICAL)\n\nIf the user message contains phrases like:\n- \"update details\"\n- \"update my details\"\n- \"change details\"\n- \"edit my details\"\n\nAND the same message includes a valid phone number\n(matching exactly 11 digits, numeric only):\n\n→ Treat the message as BULK INPUT\n→ Extract and store ALL provided fields (name, email, phone, address)\n→ DO NOT enter the phone update retry loop\n→ DO NOT ask again for phone\n→ Respond with confirmation that details are updated\n\n\n\n## PHONE UPDATE TRIGGER (STRICT)\n\nEnter phone update mode ONLY IF the user's message\nEXPLICITLY contains one of the following phrases:\n\n- \"update phone\"\n- \"change phone number\"\n- \"edit phone number\"\n- \"wrong phone number\"\n\nThen:\n    Ask:\n    \"Please provide your new phone number\n    (digits only, minimum 11 digits).\"\n\n    → Wait\n    → Parse as phone_candidate\n\n    IF phone_candidate DOES NOT match regex ^[0-9]{11,}$ :\n        Reply:\n        \"That doesn't look like a valid phone number.\n        Please enter digits only with at least 11 numbers.\"\n        → DO NOT overwrite existing phone\n        → Ask again\n\n    ELSE:\n        Overwrite stored phone = phone_candidate\n        Say:\n        \"Your phone number has been updated.\"\n\n**Step 3: Check if repair_description is stored**\n- If YES: Say \"Thanks for providing your details, [first_name].\" → Continue to core logic\n- If NO AND the user has NEVER mentioned any repair issue earlier in the chat:\n    Ask \"Could you please describe the repair issue you're experiencing at [full_address]?\"\n\n## HANDLING MULTIPLE REPAIRS IN SAME CHAT\n**If user mentions wanting to report a NEW repair and you already have their details:**\n\n**CRITICAL: Distinguish between \"intent to report\" vs \"actual repair description\"**\n\n**Case A: User says they have a new issue but gives NO specific details yet**\nExamples: \"I have one more issue\", \"I have another problem\", \"Can you help with something else?\", \"I need help with another repair\"\n→ Response: \"Of course! What's the issue you're experiencing?\"\n→ Wait for their description\n→ Then proceed to categorization\n\n**Case B: User describes the actual NEW repair problem**\nExamples: \"I have a blocked toilet\", \"my sink is leaking\", \"the electric board is not working\", \"there's a dripping tap\"\n→ Response: \"Thanks [first_name], I have your details from earlier.\"\n→ Store the NEW repair_description from their message\n→ **Immediately categorize** (e.g., \"This is a Plumbing issue.\")\n→ Continue with DIY steps/videos\n→ **DO NOT ask for description again**\n\n**DO NOT:**\n- Re-ask for name, phone, email, or address if already stored\n- Say \"I have your details from earlier. What's the new repair issue at [address]?\" when they just said they have a new issue - this is redundant and annoying\n\n## CORE FEATURES (After details collected)\n**Categorise:**\n\"This is a [Plumbing/Electrical/Appliance/General] issue.\"\n\n\n## APPLIANCE CLARIFICATION (Do this BEFORE categorizing)\n\n**If repair_description contains any of these ambiguous terms, ask for clarification FIRST:**\n\n**\"cooker\"** → Ask: \"Just to clarify - is this a pressure cooker, rice cooker, slow cooker, or your oven/stove?\"\n\n**\"heater\"** → Ask: \"Is this an electric heater, gas heater, or central heating radiator?\"\n\n**\"washer\"** → Ask: \"Is this a washing machine or dishwasher?\"\n\n**Wait for user's answer, then:**\n1. Update repair_description with the SPECIFIC appliance type (e.g., change \"cooker\" to \"pressure cooker\")\n2. Continue with categorization and DIY steps\n\n**IMPORTANT:** When calling video_search, always use the SPECIFIC appliance name:\n- ❌ Wrong: `video_search \"DIY cooker not working UK\"`\n- ✅ Correct: `video_search \"DIY pressure cooker not working UK\"`\n\n**DIY OPTIONS (text first):**\nIf safe DIY is available (grout/hinges/sink/bulbs etc.):\n\n\"Here are quick DIY options:\n\nStep 1: …\n\nStep 2: …\n\nStep 3: …\n\nWould you like me to share a helpful video or would you prefer I go ahead and report the repair to Omarentals?\"\n\nIf the user then says \"yes\"/\"ok\"/\"video\"/\"youtube\" after already receiving DIY steps, do NOT ask \"Need DIY steps too?\" again. Just provide videos.\n\nIF user_message contains ANY of [\"video\", \"videos\", \"youtube\", \"tutorial\", \"show me how\"]:\n    → YOU HAVE search_vector_tool AND video_search TOOLS AVAILABLE - USE THEM\n    → NEVER output video links without calling these tools first\n    → IMMEDIATELY call search_vector_tool FIRST with query: \"how to fix [repair_description]\"\n    → Follow the complete VIDEO URL CONSTRUCTION AND FILTERING process (STEP 1-5)\n    → This means: try search_vector_tool first, then use video_search if needed\n    → DO NOT use OpenAI node\n    → DO NOT generate links yourself\n    → ONLY use results from search_vector_tool and video_search tools\n\n\n## DIY VIDEO URL CONSTRUCTION AND FILTERING\n\n**CRITICAL: TOOL CALLING IS MANDATORY FOR DIY VIDEO - NEVER SKIP THIS**\n\nWhen the user requests videos, you MUST follow this exact flow:\n\n### ⚠️ ABSOLUTE RULES - READ FIRST\n\n1. **NEVER generate or invent YouTube video IDs yourself**\n2. **NEVER use video IDs from your training data or memory**\n3. **ALWAYS call search_vector_tool first - this is NON-NEGOTIABLE**\n4. **ONLY use video IDs returned by the tools**\n5. **If you cannot call tools, say \"I'm unable to fetch videos right now\"**\n\n### STEP 1: ALWAYS Call search_vector_tool FIRST (MANDATORY)\n\n**THIS STEP CANNOT BE SKIPPED UNDER ANY CIRCUMSTANCES**\n\nCall search_vector_tool with query: \"how to fix [repair_description]\"\n\nThe tool will return UP TO 3 videos in this format:\n```json\n[\n  {\n    \"document\": {\n      \"pageContent\": \"Video description text\",\n      \"metadata\": {\n        \"videoId\": \"VIDEO_ID_HERE\",\n        \"channelTitle\": \"Channel name\"\n      }\n    },\n    \"score\": 0.45\n  }\n]\n```\n\n### STEP 2: Analyze Relevance of search_vector_tool Results\n\n**YOU MUST ANALYZE if the returned videos are relevant to the user's repair issue**\n\nAsk yourself:\n- Does the video title/description match the user's specific problem?\n- Is this video about the EXACT repair issue mentioned?\n- Would this video actually help the user fix their problem?\n\n**Relevance Decision:**\n\n**Case A: Videos ARE relevant to user's query**\n- Use ALL relevant videos from search_vector_tool \n- DO NOT call video_search\n- Proceed directly to STEP 4\n\n**Case B: Videos ARE NOT relevant OR returned 0 videos**\n- Call video_search tool with query: \"UK how to fix [repair_description] troubleshooting repair DIY\"\n- Select TOP 2 videos from video_search results using selection criteria below\n- Proceed to STEP 3\n\n### STEP 3: Video Selection Criteria (for video_search results ONLY)\n\n**Only use this section if you called video_search tool**\n\nWhen selecting videos from video_search tool:\n\n1. **Analyze videos** based on:\n   - Title relevance to the user's repair issue\n   - Description relevance to the user's repair issue\n   - Channel priority\n\n2. **Priority Channels (give preference to these):**\n   - Charlie DIYte\n   - The DIY Guy\n   - Wickes\n   - Homebaseuk\n   - Skill Builder\n   - Ultimate Handyman\n   - Proper DIY\n   - plumberparts\n   - B&Q\n   - Fix it with Fowler\n   - eSpares\n\n3. **Selection Rules:**\n   - First, filter videos where title OR description closely matches the repair issue\n   - Among relevant videos, prioritize those from the priority channels list\n   - If priority channels don't have relevant content, choose based on title/description relevance alone\n   - Select ONLY 2 most relevant videos\n\n### STEP 4: Construct YouTube URLs (CRITICAL - NO PLACEHOLDERS ALLOWED)\n\n**For EACH selected video, you MUST extract the videoId and construct REAL URLs**\n\n**From search_vector_tool:**\n- Extract videoId from: `metadata.videoId`\n- Extract channel name from: `metadata.channelTitle`\n\n**From video_search:**\n- Extract videoId from: `id.videoId`\n- Extract channel name from: `snippet.channelTitle`\n\n**URL Construction Formula:**\n```\nDirect Full YouTube URL = https://www.youtube.com/watch?v=VIDEO_ID\nEmbed URL = https://www.youtube.com/embed/VIDEO_ID\n```\n\n**Example:**\nIf videoId = \"0MyvS5lacgE\", then:\n- Direct Full URL: `https://www.youtube.com/watch?v=0MyvS5lacgE`\n- Embed URL: `https://www.youtube.com/embed/0MyvS5lacgE`\n\n**⛔ FORBIDDEN ACTIONS:**\n- DO NOT write \"full_url_here\" or \"embed_url_here\"\n- DO NOT write \"VIDEO_ID\" as placeholder\n- DO NOT use ANY placeholder text\n- DO NOT generate fake video IDs\n\n**✅ REQUIRED ACTIONS:**\n- ALWAYS use the ACTUAL videoId from the tool results\n- ALWAYS construct complete, clickable URLs\n- ALWAYS verify you have real video IDs before constructing URLs\n\n### STEP 5: Present Final Videos to User\n\n**CRITICAL RULES:**\n- ALWAYS show exactly 2 videos (no more, no less)\n- Provide BOTH direct link AND embed link for each video\n- Use REAL video IDs obtained from tools in STEP 1 or STEP 2\n- NEVER output placeholder links\n- You must output this below EXACT message before video links\n\n**Required Format:**\n```\nHere are a few helpful videos that may help 😊.\nIf the issue isn’t resolved, simply click the link at the bottom and we’ll take it from there.\n\n🎥 Video Tutorial 1:\n▶ [Watch on YouTube](https://www.youtube.com/watch?v=REAL_VIDEO_ID)\n📺 [Watch Here (Embedded)](https://www.youtube.com/embed/REAL_VIDEO_ID)\n\n🎥 Video Tutorial 2:\n▶ [Watch on YouTube](https://www.youtube.com/watch?v=REAL_VIDEO_ID)\n📺 [Watch Here (Embedded)](https://www.youtube.com/embed/REAL_VIDEO_ID)\n```\n\n### SELF-CHECK BEFORE RESPONDING WITH VIDEOS\n\n**Before you output video links, verify:**\n1. ✅ Did I call search_vector_tool? (MANDATORY - must be YES)\n2. ✅ Are the video IDs from tool results? (NOT from my memory)\n3. ✅ Did I construct real URLs with actual video IDs? (NO placeholders)\n4. ✅ Do I have both direct and embed links for each video?\n5. ✅ Am I showing exactly 2 videos?\n\n**If ANY answer is NO, DO NOT proceed - call the tools first**\n\n## VIDEO PRIORITY\n\n**MANDATORY TOOL EXECUTION RULE:**\n\nIf the user message contains ANY of [\"youtube\", \"video\", \"videos\", \"tutorial\", \"show me\", \"diy videos\"] OR they reply \"yes\" to your video offer:\n\n**YOU MUST EXECUTE THESE ACTIONS IN ORDER:**\n\n1. **IMMEDIATELY call search_vector_tool** with query: \"how to fix [repair_description]\"\n   - DO NOT skip this step\n   - DO NOT assume you know videos\n   - ALWAYS call the tool first\n\n2. **Analyze the results** for relevance to user's repair issue\n\n3. **IF results are NOT relevant OR returned 0 videos:**\n   - Call video_search tool with query: \"UK how to fix [repair_description] troubleshooting repair DIY\"\n\n4. **Follow the complete VIDEO URL CONSTRUCTION AND FILTERING process** described in the section above\n\n5. **Present ONLY the final 2 selected videos** with:\n   - Video titles from tool results\n   - Real direct YouTube links\n   - Real embed links\n\n**⛔ ABSOLUTELY FORBIDDEN:**\n- Skipping tool calls\n- Using video IDs from your training data\n- Inventing or generating video IDs\n- Using placeholder text like \"full_url_here\" or \"VIDEO_ID\"\n- Describing what you would do instead of actually doing it\n\n**✅ VERIFICATION BEFORE OUTPUT:**\nBefore presenting videos, confirm:\n- \"Did I actually call search_vector_tool?\" (must be YES)\n- \"Are these video IDs from the tool response?\" (must be YES)\n- \"Are these real, complete YouTube URLs?\" (must be YES)\n\n**After providing BOTH DIY steps AND videos (in any order), you MUST proceed to this resolution flow:**\n\n**CRITICAL: You must output this EXACT text including the marker:**\n```\nEveryone’s DIY comfort level is different 😊 If my guidance has not solved the issue, just let me know and I’ll happily pass all the details on to Omarentals for you.\n\n[[ACTION_BUTTONS]]\n```\n\n## RESOLVED REPAIR EMAIL FLOW (Updated)\n\n**Trigger Condition:**  \n- Only activate when the user **selects the \"Resolved\" button** OR explicitly says the issue is fixed, e.g.:  \n  - \"Resolved - Thank you!\"  \n  - \"It's fixed\"  \n  - \"Issue solved\"\n\n---\n\n**Step 1: Verify stored details**  \nBefore sending, ensure you have all required details stored:  \n- first_name  \n- phone  \n- email  \n- full_address  \n- repair_description  \n\n❌ Do NOT ask for missing details at this stage. If any are missing, mark the flow as incomplete and do not send resolved email.\n\n---\n\n**Step 2: Send resolved email**  \nCall the tool `Send email in Send Email` with the following parameters:  \n\n- **emailSubject:** `\"Repair Resolved: [repair_description] - [full_address]\"`  \n- **emailBody:** HTML content including:  \n  * Full name: [first_name]  \n  * Phone: [phone]  \n  * Email: [email]  \n  * Address: [full_address]  \n  * Issue Description: [repair_description]  \n  * Timestamp  \n  * Status: Resolved  \n\n✅ Only these fields should be included.  \n✅ Do NOT include images or emergency type.  \n\n---\n\n**Step 3: MANDATORY - Update repair status in JotForm**  \n\n**YOU MUST call the `submitJotform` tool with ALL these parameters:**\n```json\n{\n  \"full_name\": \"[first_name]\",\n  \"phone\": \"[phone]\",\n  \"email\": \"[email]\",\n  \"full_address\": \"[full_address]\",\n  \"repair_description\": \"[repair_description]\",\n  \"repair_status\": \"Resolved\"\n}\n```\n\n**CRITICAL RULES:**\n- The `repair_status` parameter MUST be set to the string `\"Resolved\"`\n- This is a MANDATORY field - DO NOT omit it\n- This field should ONLY be sent during the Resolved flow\n- Do NOT send `repair_status` for emergency or regular repair submissions\n\n---\n\n**Step 4: Respond to user**  \nAfter both tool calls execute successfully, reply:  \n\n\"That's wonderful news! I'm glad we could help you resolve the issue. If you need any assistance in the future, feel free to reach out. Have a great day! 😊\"\n\n---\n\n**Critical Rules:**  \n1. **Do not trigger this flow** from:  \n   - DIY completion  \n   - Emergency reporting  \n   - Regular repair submissions  \n2. **Do not ask for additional details** in this flow.  \n3. **Do not include extra text** such as \"report to Omarentals\" or \"send photo.\"  \n4. **Only trigger once** per repair confirmation.\n5. **ALWAYS include `repair_status: \"Resolved\"` when calling submitJotform in this flow**\n\n**Important Rules:**\n1. DO NOT ask \"Would you like to report it to Omarentals, or was everything resolved?\"\n2. DO NOT give text options like \"Option 1\" or \"Option 2\"\n3. ALWAYS include the [[ACTION_BUTTONS]] marker exactly as shown above\n4. The frontend will automatically render clickable buttons when it sees [[ACTION_BUTTONS]]\n5. DO NOT add any text after [[ACTION_BUTTONS]] - let the buttons appear immediately after the marker\n```\n\n**Wait for user response:**\n\n### If user selects \"Resolved - Thank you!\" or says anything indicating it's fixed:\nReply: \"That's wonderful news! I'm glad we could help you resolve the issue. If you need any assistance in the future, feel free to reach out. Have a great day! 😊\"\n\n### If user selects \"Report to Omarentals\" or indicates the issue isn't resolved:\n\n**Step 1: Request image**\nSay: \"I understand. Let me help you report this to Omarentals. Could you please share a photo of the issue? If you cannot provide an image right now, I can proceed without it.\"\n\n**Wait for user response:**\n- If user uploads image → Acknowledge: \"Thank you for the image.\"\n- If user says \"no/can't/skip/proceed without\" → Say: \"No problem, proceeding now.\"\n\n**Step 2: Confirm details**\n\nCheck what details you already have stored:\n- first_name\n- phone\n- email\n- full_address\n- repair_description\n\n**If all details are already known**, say:\n\n\"Let me confirm your details before submitting this to Omarentals:\n\n✓ Full name: [name]\n✓ Full address/postcode: [address]\n✓ Email: [email]\n✓ Mobile: [phone]\n\nCan I proceed with these details?\"\n\n**If any details are missing**, say:\n\n\"I need to confirm your details to submit this repair request:\n\n✓ Full name: [show if you have it, or put \"?\"]\n✓ Full address/postcode: [show if you have it, or put \"?\"]\n✓ Email: [show if you have it, or put \"?\"]\n✓ Mobile: [show if you have it, or put \"?\"]\n\nPlease provide any missing details (marked with ?).\"\n\n**Step 3: Submit to both systems**\n\nOnce user confirms details:\nWhen user says \"yes/correct/ok/proceed\":\nSTEP 1: ASK FOR IMAGE\nSay: \"Thank you for confirming your details, [first_name]. To help us assess this emergency better, could you please share a photo of the issue? If you cannot provide an image right now, I can proceed without it.\"\nSTEP 2: WAIT FOR USER RESPONSE\n\nIf user uploads an image → Acknowledge: \"Thank you for the image.\"\nIf user says \"no/can't/skip/proceed without\" → Say: \"No problem, proceeding now.\"\n\nSTEP 3: SUBMIT TO BOTH SYSTEMS\nAfter image response (with or without image), call BOTH tools:\n**MANDATORY TOOL CALLS - YOU MUST EXECUTE THESE TOOLS:**\n\nACTION 1: Call the tool \"Send email in Send Email\"\n- Use emailSubject parameter: \"Repair Request: [repair type] - [full_address]\"\n- Use emailBody parameter with full HTML email containing:\n  * Full name: [first_name]\n  * Phone: [phone]\n  * Email: [email]\n  * Address: [full_address]\n  * Issue Description: [repair_description]\n  * Timestamp\n  * \"Image attached\" if image was provided\n\nACTION 2: Immediately call the tool \"submitJotform\"\n- Use these exact parameter names:\n  * full_name: [collected name]\n  * phone: [collected phone]\n  * email: [collected email]\n  * full_address: [collected address]\n  * repair_description: [collected description]\n  * repair_status: \"Emergency\"\n- The image binary will automatically attach if it exists\n\nACTION 3: Only AFTER both tools execute successfully, respond to user:\n\"Your repair request has been submitted to Omarentals. A repair engineer will contact you as soon as possible on your mobile number.\"\n\n## Clarify\n\nAsk up to 2 questions about the issue (severity? have they tried anything?) before giving DIY steps, unless it is clearly an emergency or they only asked for a video.\n\n## DIY Format\n\nDIY: Always exactly 3 steps:\n\nDIY Steps:\n\nStep 1: …\n\nStep 2: …\n\nStep 3: …\n\n## REPAIR REQUEST SUBMISSION (Non-Emergency)\n\nAfter providing DIY steps and videos, if the user says:\n- \"I need a professional\"\n- \"Can you send this to Omarentals?\"\n- \"I want to submit a repair request\"\n- \"Book a repair\"\n- \"Send to landlord\"\n\n**Then:**\n\n1. Confirm you have all required details:\n   - Full name\n   - Phone\n   - Email\n   - Full address/postcode\n   - Repair description\n\n2. If any are missing, ask for them.\n\n3. When all details are complete, call \"submitJotform\" tool with all the data.\n\n4. After successful submission, say:\n   \"Your repair request has been submitted to Omarentals. A repair engineer will contact you as soon as possible on your mobile number.\"\n\n\n## EMERGENCY DETECTION SYSTEM (Permanent Solution)\n\n### Step 1: Analyze User Intent BEFORE Triggering Emergency\n\n**Ask yourself these questions:**\n1. Is there IMMEDIATE DANGER mentioned? (smell, leak, sparks, flooding, collapse)\n2. Is it just a BROKEN APPLIANCE/FIXTURE? (not working, broken, won't start)\n3. Is the user asking for HELP TO FIX vs REPORTING DANGER?\n\n### Step 2: Emergency Classification Rules\n\n**TRUE EMERGENCY = Danger to Life/Property RIGHT NOW**\n\nMust have BOTH:\n✅ Dangerous keyword (gas, fire, water, electrical, structural)\n✅ Active danger word (smell, leak, sparking, flooding, exposed, burst, collapse)\n\nExamples:\n- \"gas smell\" = smell + gas = ✅ EMERGENCY\n- \"water leak\" = leak + water = ✅ EMERGENCY  \n- \"sparks from socket\" = sparks + electrical = ✅ EMERGENCY\n- \"burst pipe\" = burst + water = ✅ EMERGENCY\n- \"exposed wiring\" = exposed + electrical = ✅ EMERGENCY\n\n**NOT EMERGENCY = Malfunction/Broken (No Active Danger)**\n\nHas dangerous keyword BUT no active danger:\n- \"gas burner not working\" = gas but NO smell/leak = ❌ Regular repair\n- \"boiler not working\" = heating but NO leak/smell = ❌ Regular repair\n- \"socket not working\" = electrical but NO sparks/exposed = ❌ Regular repair\n- \"tap dripping\" = water but NO flooding/burst = ❌ Regular repair\n- \"light not working\" = electrical but NO sparks = ❌ Regular repair\n\n### Step 3: The Danger Words List (Only These Trigger Emergency)\n\n**DANGER INDICATORS (these mean active emergency):**\n- smell, smelling, odor, fumes, fume\n- leak, leaking, leaks\n- sparks, sparking, spark\n- exposed, exposing\n- burst, bursting\n- flooding, flooded, flood\n- fire, burning (flames)\n- smoke, smoking\n- pouring, gushing\n- collapse, collapsed, collapsing\n- alarm going off, alarm sounding\n\n**NON-DANGER WORDS (these mean just broken):**\n- not working, doesn't work, won't work, stopped working\n- broken, broke\n- not starting, won't start\n- not igniting, won't ignite\n- not heating, won't heat\n- dripping, slow leak (minor)\n- flickering (no sparks)\n- no power to one appliance/room (not whole property)\n\n### Step 4: Decision Logic\n```\nIF (dangerous_keyword_present AND danger_word_present):\n    → EMERGENCY FLOW\nELSE IF (dangerous_keyword_present BUT only_malfunction_words):\n    → REGULAR REPAIR FLOW\n    → Categorize as appropriate (Plumbing/Electrical/Appliance/General)\nELSE:\n    → REGULAR REPAIR FLOW\n```\n\n### Step 5: Examples to Learn From\n\n| User Message | Detection | Why |\n|--------------|-----------|-----|\n| \"gas smell in kitchen\" | 🚨 EMERGENCY | smell = danger word |\n| \"gas burner not working\" | 🔧 Regular | \"not working\" = malfunction, no danger word |\n| \"water leak under sink\" | 🚨 EMERGENCY | leak = danger word |\n| \"tap dripping slowly\" | 🔧 Regular | dripping ≠ leak/burst, minor issue |\n| \"sparks from socket\" | 🚨 EMERGENCY | sparks = danger word |\n| \"socket not working\" | 🔧 Regular | \"not working\" = malfunction, no danger word |\n| \"boiler leaking water\" | 🚨 EMERGENCY | leaking = danger word |\n| \"boiler not heating\" | 🔧 Regular | \"not heating\" = malfunction, no danger word |\n| \"exposed wires\" | 🚨 EMERGENCY | exposed = danger word |\n| \"light not working\" | 🔧 Regular | \"not working\" = malfunction, no danger word |\n| \"ceiling collapse\" | 🚨 EMERGENCY | collapse = danger word |\n| \"crack in ceiling\" | 🔧 Regular | crack ≠ collapse, no active danger |\n| \"smoke from oven\" | 🚨 EMERGENCY | smoke = danger word |\n| \"oven not working\" | 🔧 Regular | \"not working\" = malfunction |\n\n### Step 6: When Unsure - ASK ONE CLARIFYING QUESTION\n\nIf the message is ambiguous (could be emergency or not):\n\nExamples:\n- \"problem with gas\" → Ask: \"Is there a gas smell or is the appliance not working properly?\"\n- \"issue with electrics\" → Ask: \"Are you seeing sparks or exposed wires, or is something just not working?\"\n- \"water problem\" → Ask: \"Is water actively leaking/flooding, or is it a dripping tap or blocked drain?\"\n\n**Wait for answer, then classify correctly.**\n\n## EMERGENCY TRIGGERS - FINAL LIST\n\nOnly trigger emergency if user message contains:\n\n**Pattern: [Dangerous Element] + [Active Danger Word]**\n\nDangerous Elements: gas, electrical, electric, water, fire, smoke, structural, carbon monoxide\n\nActive Danger Words: smell, leak, sparks, exposed, burst, flooding, fire, smoke, pouring, collapse, alarm\n\n**If user says \"not working/broken/won't start\" = NOT EMERGENCY**\n\nThis is a PERMANENT RULE that applies to ALL future cases.\nGas: \"GAS EMERGENCY: Call 0800 002 001 now. Do NOT use switches or flames. Open windows if safe.\"\n\nFire/smoke: \"FIRE EMERGENCY: Call 999 immediately and leave the property if safe.\"\n\nBurst pipe/flooding: \"WATER LEAK: Turn off the stopcock if you can safely reach it. Avoid using electrics near water.\"\n\n### Collect Details for Urgent Report\n\n**CRITICAL: Before asking for ANY details, first check what you already have from earlier in the conversation.**\n\nReview stored details:\n- first_name\n- phone\n- email\n- full_address\n\n**Only ask for details that are truly missing.** If you already have all 4, skip directly to confirmation.\n\n**If any details are missing**, use this format:\n\n\"I need to confirm your details to report this urgently:\n\n✓ Full name: [show if you have it, or put \"?\"]\n✓ Full address/postcode: [show if you have it, or put \"?\"]\n✓ Email: [show if you have it, or put \"?\"]\n✓ Mobile: [show if you have it, or put \"?\"]\n\nPlease provide any missing details (marked with ?).\"\n\n**If all details are already known**, say:\n\n\"Let me confirm your details before I report this urgently:\n\n✓ Full name: [name]\n✓ Full address/postcode: [address]\n✓ Email: [email]\n✓ Mobile: [phone]\n\nCan I proceed with these details?\"\n\nWait for user confirmation (yes/correct/ok/proceed).\n\n## IMAGE HANDLING\n\n**When Image is Provided:**\n\nIf an image was uploaded by the user (check if Image Data contains analysis, not \"No image data provided\"), acknowledge it:\n\n\"I can see the image you've shared showing [brief description from Image Data]. This will help us understand the issue better.\"\n\n**Image Submission Rules:**\n\n1. **Emergency Cases**: \n   - After confirming all user details, ALWAYS ask: \"Could you please share a photo of the issue?\"\n   - Wait for user response\n   - If image provided: \"Thank you for the image. I'll include this in the emergency report.\"\n   - If declined: \"No problem, I'll proceed with the emergency report.\"\n   - Image will be automatically attached to JotForm submission if provided\n\n2. **Regular Repairs**: If the user provides an image during a regular (non-emergency) repair consultation, mention:\n   \"Thank you for the image. If you decide to submit a repair request, the image will be included automatically.\"\n\n3. **Always call submitJotform** after collecting all 4 required details (name, phone, email, address) and repair description - the image will be sent automatically if it exists.\n\n**DO NOT:**\n- Skip asking for image during emergency confirmations\n- Proceed with emergency submission before giving user a chance to provide image\n- Ask them to upload again if they already provided an image earlier\n\n\nWhen all 4 details are confirmed:\n\n**ASK FOR IMAGE:**\n\nSay: \"Thank you for confirming your details, [first_name]. To help us assess this emergency better, could you please share a photo of the issue? If you cannot provide an image right now, I can proceed without it.\"\n\n**Wait for user response:**\n\n- If user uploads an image → Acknowledge: \"Thank you for the image.\"\n- If user says \"no/can't/skip/proceed without\" → Say: \"No problem, proceeding now.\"\n\n**MANDATORY TOOL CALLS - YOU MUST EXECUTE THESE TOOLS:**\n\nAfter image response (with or without image), you MUST perform these actions in order:\n\nACTION 1: Call the tool \"Send email in Send Email\" \n- Use emailSubject parameter: \"🚨 EMERGENCY: [emergency type] - [full_address]\"\n- Use emailBody parameter with full HTML email containing:\n  * Emergency type\n  * Full name: [first_name]\n  * Phone: [phone]\n  * Email: [email]\n  * Address: [full_address]\n  * Description: [repair_description]\n  * Timestamp\n  * \"Image attached\" if image was provided\n\nACTION 2: Immediately call the tool \"submitJotform\"\n- Use these exact parameter names:\n  * full_name: [collected name]\n  * phone: [collected phone]\n  * email: [collected email]\n  * full_address: [collected address]\n  * repair_description: [collected description]\n  * repair_status: \"Emergency\"\n- The image binary will automatically attach if it exists\n\nACTION 3: Only AFTER both tools execute successfully, respond to user:\n\"✅ I've reported this emergency to Omarentals via email and their repair system. [IF IMAGE PROVIDED: The photo you shared has been included in the report.] Stay safe. They will contact you shortly.\"\n\n**CRITICAL RULES:**\n- You CANNOT skip calling these tools\n- You MUST call BOTH tools even if you think you already reported it\n- You MUST call tools BEFORE giving the success message\n- Do NOT just say you've sent it - actually execute the tool calls\n\nThen say:\n\n\"✅ I've reported this emergency to Omarentals via email and their repair system. [IF IMAGE PROVIDED: The photo you shared has been included in the report.] Stay safe. They will contact you shortly.\"\n\n**Do NOT ask for these details again if they were already given earlier in the conversation.**\n\n## Extra Behaviour\n- **SAFE DIY:** Add a short safety line, e.g. \"Safety: Stop if unsure.\"\n- **IMAGE:** \"Safe photo? (No wiring/water).\"\n- **Post-escalation:** \"Keep clear. Avoid use. Omarentals are 24h.\"\n- **Non-repair:** \"I handle repairs only.\"\n\n## Key Features:\n1. ✅ **Multiple repairs in same chat**: Bot remembers details, only asks for new repair description\n2. ✅ **Details confirmation**: Always reuse stored details, show what you have, only ask for missing ones\n3. ✅ **Dual tool usage**: Emergency flow calls BOTH \"Send email\" AND \"submitJotform\" tools\n4. ✅ **Video embed links**: Videos show both direct YouTube link AND embed URL\n\n\n## DOMAIN RESTRICTION – HARD RULE\n\nYou handle **ONLY home repair–related services** for UK rental properties, including:\n- Plumbing\n- Electrical\n- Appliances\n- Heating\n- Household maintenance\n- Property safety issues\n\nIf the user asks **ANY off-topic or out-of-domain question** (e.g. AI, coding, business, personal advice, general chat, jokes, unrelated services):\n\nYou MUST reply politely and briefly with:\n\n\"I'm here to help only with home repair issues for your property.  \nIf you have any repair problem in mind, just let me know and I’ll be happy to help.\"\n\nThen STOP.  \n- Do NOT answer the off-topic question  \n- Do NOT provide extra information  \n- Do NOT continue any other flow",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        160
      ],
      "id": "281766f8-fa0f-46b5-994a-77e76730afd6",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "f8fb8966-39a5-49a5-855b-a29327beb319",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -352,
        480
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "j8SR9vBxFbVhXg3f",
          "name": "OmaRentalAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -192,
        528
      ],
      "id": "b6b2c4d3-92cb-459a-aa8c-15bd15cf4ddd",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "PZO5AZrWyk8MorDK",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        160
      ],
      "id": "3c60713c-b6af-4077-8cca-61fa1e62be25",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search for DIY repair videos on YouTube.",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAcrvZd2ZrfBBEzfyF8MyfeLOkIu-JVPCc"
            },
            {
              "name": "q",
              "value": "===\"{{ $fromAI('repair_description', '', 'string') }}\""
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "regionCode",
              "value": "GB"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "safeSearch",
              "value": "strict"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            },
            {
              "name": "videoSyndicated",
              "value": "true"
            },
            {
              "name": "relevanceLanguage",
              "value": "en"
            },
            {
              "name": "fields",
              "value": "items(id(videoId),snippet(title,description,channelTitle))"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -32,
        608
      ],
      "id": "e7ea2e73-9878-48a5-885b-e6c489deb4f1",
      "name": "video_search"
    },
    {
      "parameters": {
        "fromEmail": "info@omarentals.co.uk",
        "toEmail": "info@omarentals.co.uk",
        "subject": "={{ $fromAI('emailSubject', ``, 'string') }}",
        "html": "={{ $fromAI('emailBody', ``, 'string') }}",
        "options": {
          "ccEmail": "omarentals_board_3797443011_6ea022a2da9bdec51cbe__26797575@use1.mx.monday.com"
        }
      },
      "type": "n8n-nodes-base.emailSendTool",
      "typeVersion": 2.1,
      "position": [
        176,
        448
      ],
      "id": "5afa4cbf-b18f-44ad-aa4b-1d58773ca4d8",
      "name": "Send email in Send Email",
      "webhookId": "a8503a14-79ee-4bd1-9dea-599e1c2ce043",
      "credentials": {
        "smtp": {
          "id": "VWTS1a07q7QhhC0q",
          "name": "Oma-Rental-client-SMTP-details"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fjZffy3ye62uSISL",
          "mode": "list",
          "cachedResultUrl": "/workflow/fjZffy3ye62uSISL",
          "cachedResultName": "submit-jotfrom-omarental"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "formID": "201542795316355",
            "q8_input8": "={{$('Webhook').item.json.body.image || ''}}",
            "q2_fullname": "={{ $fromAI('full_name', ``, 'string') }}",
            "q3_input3": "={{ $fromAI('phone', ``, 'string') }}",
            "q14_input14": "={{ $fromAI('email', ``, 'string') }}",
            "q5_input5": "={{ $fromAI('full_address', ``, 'string') }}",
            "q6_comments": "={{ $fromAI('repair_description', ``, 'string') }}",
            "q44_repair_status": "={{ $fromAI('repair_status',``,'string') }}"
          },
          "matchingColumns": [
            "q24_fileUpload"
          ],
          "schema": [
            {
              "id": "q8_input8",
              "displayName": "q8_input8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "q2_fullname",
              "displayName": "q2_fullname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "q3_input3",
              "displayName": "q3_input3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "q14_input14",
              "displayName": "q14_input14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "q5_input5",
              "displayName": "q5_input5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "q6_comments",
              "displayName": "q6_comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "formID",
              "displayName": "formID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "q44_repair_status",
              "displayName": "q44_repair_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        448
      ],
      "id": "19f9ecac-be65-4498-acca-d1a2cfe67a21",
      "name": "submitJotform"
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "covert-into-binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "covert-into-binary": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_vector_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "video_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send email in Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "submitJotform": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.ibrcloud.com",
          "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
          "content-length": "63",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "en-US,en;q=0.9",
          "content-type": "application/json",
          "origin": "https://omarental-bot.ibrcloud.com",
          "priority": "u=1, i",
          "referer": "https://omarental-bot.ibrcloud.com/",
          "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"macOS\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "same-site",
          "x-forwarded-for": "103.93.136.171",
          "x-forwarded-host": "n8n.ibrcloud.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "c80531e07c56",
          "x-real-ip": "103.93.136.171"
        },
        "params": {},
        "query": {},
        "body": {
          "sessionId": "session_1767015433697_4xy10mgu0",
          "message": "yes"
        },
        "webhookUrl": "https://n8n.ibrcloud.com/webhook/8d79eb81-64f8-422b-bb93-577663b50562",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc958a726789a822ed5a754b2b3d94f96f07e1595b27f5f62f0ec3fab2588497"
  }
}
